body {
    background-color: black;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.text-pink {
    color: #f5cee1 !important;
}

.text-red-500 {
    color: #ef4444 !important;
}

@media (max-width: 768px) {
    .mobile-display-none {
        display: none !important;
    }
}
