body {
    background-color: black;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.text-pink {
    color: #f5cee1 !important;
}

.text-red-500 {
    color: #ef4444 !important;
}

.botao-assinatura {
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #f5cee1;
    color: #761c49;
    outline: none;
    border: none;
    transition: background-color 0.55s ease, color 0.55s ease, transform 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao-assinatura:hover {
    background-color: #761c49;
    color: #f5cee1;
    transform: translateY(-1px);
}

.p-button.p-button-primary {
    color: #761c49 !important;
}

.p-button.p-button-primary:hover {
    color: #f5cee1 !important;
}

.p-button.p-button-primary span {
    color: inherit !important;
}

@media (max-width: 768px) {
    .mobile-display-none {
        display: none !important;
    }
}