.p-inputtext, .p-textarea {
    background-color: #1a1a1a !important;
    color: #ffffff !important;
    border-style: none !important;
}

.p-drawer {
    background-color: #1a1a1a !important;
    color: #ffffff !important;
    border-style: none !important;
}

.p-dialog {
    background-color: black !important;
    color: #ffffff !important;
    border-style: none !important;
}

.p-password-input {
    width: 100% !important;
}

.p-iftalabel label {
    color: #f5cee1 !important;
}