.p-inputtext, .p-textarea {
    background-color: #1a1a1a !important;
    color: #ffffff !important;
    border-style: none !important;
}

.p-drawer {
    background-color: #1a1a1a !important;
    color: #ffffff !important;
    border-style: none !important;
}